<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.drawauction.dao.DrawMapper">

  <!-- UploadDto에는 UserDto가 포함되어 있으므로 resultMap을 만들어서 UploadDto의 설명을 넣어줌 -->
  <resultMap type="DrawDto"      id="DrawMap">
    <id      column="DRAW_NO"    property="drawNo"/>
    <result  column="CATEGORY_NO"   property="categoryNo"/>
    <result  column="TITLE"        property="title"/>
    <result  column="CONTENTS"     property="contents"/>
    <result  column="WIDTH"  property="width"/>
    <result  column="HEIGHT" property="height"/>
    <association javaType="UserDto"      property="userDto">
      <id        column="USER_NO"        property="userNo"/>
      <result    column="EMAIL"          property="email" />
      <result    column="PW"             property="pw" />
      <result    column="NAME"           property="name" />
      <result    column="MOBILE"         property="mobile" />
      <result    column="GENDER"         property="gender" />
      <result    column="AGREE"          property="agree" />
      <result    column="STATE"          property="state" />
      <result    column="JOINED_AT"      property="joinedAt" />
      <result    column="POSTCODE"       property="postcode" />
      <result    column="ROAD_ADDRESS"   property="roadAddress" />
      <result    column="JIBUN_ADDRESS"  property="jibunAddress" />
      <result    column="DETAIL_ADDRESS" property="detailAddress" />
      <result    column="NICKNAME" property="nickname" />
      <result    column="INTRODUCTION" property="introduction" />
    </association>
  </resultMap>

 
  
</mapper>