<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.drawauction.dao.MypageMapper">
  
  <!-- BidDto에 대한 resultMap -->
  <resultMap type="BidDto"        id="BidMap">
    <id column="BID_NO"           property="bidNo"/>
    <result column="PRICE"        property="price" />
    <result column="BID_AT"       property="bidAt" />
    <result column="POSTCODE"     property="postcode" />
    <result column="ROAD_ADDRESS" property="roadAddress" />
    <result column="JIBUN_ADDRESS" property="jibunAddress" />
    <result column="DETAIL_ADDRESS" property="detailAddress" />
    
    <association javaType="AuctionDto"  property="auctionDto">
      <id column="AUCTION_NO"       property="auctionNo"/>
      <result column="START_PRICE"  property="startPrice"/>
      <result column="BUY_PRICE"    property="buyPrice"/>
      <result column="START_AT"     property="startAt"/>
      <result column="END_AT"       property="endAt"/>
      <result column="STATUS"       property="status"/>
      
      <association javaType="ArtDto"      property="artDto">
        <id column="ART_NO"         property="artNo"/>
        <result column="TITLE"      property="title"/>
        <result column="CONTENTS"   property="contents"/>
        <result column="ART_TYPE"   property="artType"/>
        <result column="WIDTH"      property="width"/>
        <result column="HEIGHT"     property="height"/>
        
        <association javaType="UserDto"    property="sellerDto">
          <id column="USER_NO"              property="sellerNo"/>
          <result column="EMAIL"            property="email"/>
          <result column="PW"               property="pw"/>
          <result column="NAME"             property="name"/>
          <result column="MOBILE"           property="mobile"/>
          <result column="GENDER"           property="gender"/>
          <result column="AGREE"            property="agree"/>
          <result column="STATE"            property="state"/>
          <result column="JOINED_AT"        property="joinedAt"/>
          <result column="POSTCODE"         property="postcode"/>
          <result column="ROAD_ADDRESS"     property="roadAddress"/>
          <result column="JIBUN_ADDRESS"    property="jibunAddress"/>
          <result column="DETAIL_ADDRESS"   property="detailAddress"/>
          <result column="NICKNAME"         property="nickname"/>
          <result column="INTRODUCTION"     property="introduction"/>
        </association>
        
        <association javaType="CategoryDto" property="categoryDto">
          <id        column="CATEGORY_NO"     property="categoryNo"/>
          <result    column="CATEGORY_NAME"   property="categoryName" />
        </association>
        
      </association>
    </association>
    
    <association javaType="UserDto"    property="bidderDto">
      <id column="USER_NO"              property="bidderNo"/>
      <result column="EMAIL"            property="email"/>
      <result column="PW"               property="pw"/>
      <result column="NAME"             property="name"/>
      <result column="MOBILE"           property="mobile"/>
      <result column="GENDER"           property="gender"/>
      <result column="AGREE"            property="agree"/>
      <result column="STATE"            property="state"/>
      <result column="JOINED_AT"        property="joinedAt"/>
      <result column="POSTCODE"         property="postcode"/>
      <result column="ROAD_ADDRESS"     property="roadAddress"/>
      <result column="JIBUN_ADDRESS"    property="jibunAddress"/>
      <result column="DETAIL_ADDRESS"   property="detailAddress"/>
      <result column="NICKNAME"         property="nickname"/>
      <result column="INTRODUCTION"     property="introduction"/>
      <result column="MY_PRICE"         property="myPrice" />
    </association>
  
  </resultMap>
  
  <!-- DrawDto에 대한 resultMap -->
  <resultMap type="DrawDto"      id="DrawMap">
    <id      column="DRAW_NO"    property="drawNo"/>
    <result  column="TITLE"        property="title"/>
    <result  column="PRICE"        property="price"/>
    <result  column="CONTENTS"     property="contents"/>
    <result  column="WIDTH"  property="width"/>
    <result  column="HEIGHT" property="height"/>
    <result  column="WORK_TERM" property="workTerm"/>
    <association javaType="CategoryDto" property="categoryDto">
      <id        column="CATEGORY_NO"   property="categoryNo"/>
      <result    column="CATEGORY_NAME"          property="categoryName" />
    </association>
    <association javaType="UserDto"      property="userDto">
      <id        column="USER_NO"        property="userNo"/>
      <result    column="EMAIL"          property="email" />
      <result    column="PW"             property="pw" />
      <result    column="NAME"           property="name" />
      <result    column="MOBILE"         property="mobile" />
      <result    column="GENDER"         property="gender" />
      <result    column="AGREE"          property="agree" />
      <result    column="STATE"          property="state" />
      <result    column="JOINED_AT"      property="joinedAt" />
      <result    column="POSTCODE"       property="postcode" />
      <result    column="ROAD_ADDRESS"   property="roadAddress" />
      <result    column="JIBUN_ADDRESS"  property="jibunAddress" />
      <result    column="DETAIL_ADDRESS" property="detailAddress" />
      <result    column="NICKNAME" property="nickname" />
      <result    column="INTRODUCTION" property="introduction" />
    </association>
  </resultMap>
  
  <!-- EmoneyDto에 대한 resultMap -->
  <resultMap    type="EmoneyDto"        id="EmoneyMap">
    <id         column="EMONEY_NO"      property="emoneyNo" />
    <result     column="EMONEY_HISTORY" property="emoneyHistory" />
    <result     column="EMONEY_DATE"    property="emoneyDate" />
    <association javaType="UserDto"      property="userDto">
      <id        column="USER_NO"        property="userNo"/>
      <result    column="EMAIL"          property="email" />
      <result    column="PW"             property="pw" />
      <result    column="NAME"           property="name" />
      <result    column="MOBILE"         property="mobile" />
      <result    column="GENDER"         property="gender" />
      <result    column="AGREE"          property="agree" />
      <result    column="STATE"          property="state" />
      <result    column="JOINED_AT"      property="joinedAt" />
      <result    column="POSTCODE"       property="postcode" />
      <result    column="ROAD_ADDRESS"   property="roadAddress" />
      <result    column="JIBUN_ADDRESS"  property="jibunAddress" />
      <result    column="DETAIL_ADDRESS" property="detailAddress" />
      <result    column="NICKNAME"       property="nickname" />
      <result    column="INTRODUCTION"   property="introduction" />
    </association>
  </resultMap>
  
  <!-- DrawOrderDto에 대한 resultMap -->
  <resultMap type="DrawOrderDto" id="DrawOrderMap">
    <id   column="ORDER_NO" property="orderNo"/>
    <result column="ORDER_DATE" property="orderDate"/>
    <result column="PRICE" property="price"/>
    <result column="RECEIVE_EMAIL" property="receiveEmail"/>
    <association javaType="DrawDto"    property="drawDto">
      <id      column="DRAW_NO"      property="drawNo"/>
      <result  column="TITLE"        property="title"/>
      <result  column="PRICE"        property="price"/>
      <result  column="CONTENTS"     property="contents"/>
      <result  column="WIDTH"      property="width"/>
      <result  column="HEIGHT"     property="height"/>
      <result  column="WORK_TERM"    property="workTerm"/>
      <association javaType="CategoryDto" property="categoryDto">
        <id        column="CATEGORY_NO"   property="categoryNo"/>
        <result    column="CATEGORY_NAME"          property="categoryName" />
      </association>
      <association javaType="UserDto"      property="userDto">
        <id        column="USER_NO"        property="userNo"/>
        <result    column="EMAIL"          property="email" />
        <result    column="PW"             property="pw" />
        <result    column="NAME"           property="name" />
        <result    column="MOBILE"         property="mobile" />
        <result    column="GENDER"         property="gender" />
        <result    column="AGREE"          property="agree" />
        <result    column="STATE"          property="state" />
        <result    column="JOINED_AT"      property="joinedAt" />
        <result    column="POSTCODE"       property="postcode" />
        <result    column="ROAD_ADDRESS"   property="roadAddress" />
        <result    column="JIBUN_ADDRESS"  property="jibunAddress" />
        <result    column="DETAIL_ADDRESS" property="detailAddress" />
        <result    column="NICKNAME"     property="nickname" />
        <result    column="INTRODUCTION"   property="introduction" />
      </association>
    </association>
    <association javaType="UserDto"      property="userDto">
      <id        column="USER_NO"        property="userNo"/>
      <result    column="EMAIL"          property="email" />
      <result    column="PW"             property="pw" />
      <result    column="NAME"           property="name" />
      <result    column="MOBILE"         property="mobile" />
      <result    column="GENDER"         property="gender" />
      <result    column="AGREE"          property="agree" />
      <result    column="STATE"          property="state" />
      <result    column="JOINED_AT"      property="joinedAt" />
      <result    column="POSTCODE"       property="postcode" />
      <result    column="ROAD_ADDRESS"   property="roadAddress" />
      <result    column="JIBUN_ADDRESS"  property="jibunAddress" />
      <result    column="DETAIL_ADDRESS" property="detailAddress" />
      <result    column="NICKNAME"     property="nickname" />
      <result    column="INTRODUCTION"   property="introduction" />
    </association>
  </resultMap>
  
  

  
  
  <update id="updateUser" parameterType="UserDto">
    UPDATE USER_T
       SET NAME = #{name}
         , NICKNAME = #{nickname}
         , GENDER = #{gender}
         , MOBILE = #{mobile}
         , POSTCODE = #{postcode}
         , ROAD_ADDRESS = #{roadAddress}
         , JIBUN_ADDRESS = #{jibunAddress}
         , DETAIL_ADDRESS = #{detailAddress}
         , AGREE = #{agree}
     WHERE USER_NO = #{userNo}
  </update>
  
  <update id="updateUserIntroduction" parameterType="UserDto">
    UPDATE USER_T
       SET INTRODUCTION = #{introduction}
     WHERE USER_NO = #{userNo}
  </update>
  
  <update id="updateUserPw" parameterType="UserDto">
    UPDATE USER_T
       SET PW = #{pw}
     WHERE USER_NO = #{userNo}
  </update>
  
  
  <!--/*
  <insert id="insertUserImage" parameterType="UserImageDto">
    INSERT INTO USER_IMAGE_T (
      USER_IMAGE_NO
    , USER_NO
    , PATH
    , FILESYSTEM_NAME
    , IMAGE_ORIGINAL_NAME
    , HAS_THUMBNAIL
  ) VALUES (
      USER_IMAGE_SEQ.NEXTVAL
    , #{userNo}
    , #{path}
    , #{filesystemName}
    , #{imageOriginalName}
    , #{hasThumbnail}
  )
  </insert>
  */-->
  
  
  
  <select id="getArtForSaleCount" parameterType="int" resultType="int">
    SELECT COUNT(*)
      FROM (SELECT ART.ART_NO, ART.SELLER_NO, ART.CATEGORY_NO, ART.TITLE, ART.CONTENTS, ART.ART_TYPE, ART.WIDTH, ART.HEIGHT, 
                   AUC.AUCTION_NO, AUC.START_PRICE, AUC.BUY_PRICE, AUC.START_AT, AUC.END_AT, AUC.STATUS
              FROM ART_T ART INNER JOIN AUCTION_T AUC
                ON ART.ART_NO = AUC.ART_NO
             WHERE AUC.STATUS = 0 AND ART.SELLER_NO = #{sellerNo})
  </select>
  
  <select id="getBiddingCount" parameterType="int" resultType="int">
    SELECT COUNT(DISTINCT ART_NO)
      FROM (SELECT ART.ART_NO, ART.SELLER_NO, ART.CATEGORY_NO, ART.TITLE, ART.CONTENTS, ART.ART_TYPE, ART.WIDTH, ART.HEIGHT,
                   AUC.AUCTION_NO, AUC.START_PRICE, AUC.BUY_PRICE, AUC.START_AT, AUC.END_AT, AUC.STATUS,
                   BID.BID_NO, BID.BIDDER_NO, BID.PRICE, BID.BID_AT, BID.POSTCODE, BID.ROAD_ADDRESS, BID.JIBUN_ADDRESS, BID.DETAIL_ADDRESS
              FROM ART_T ART INNER JOIN AUCTION_T AUC
                ON ART.ART_NO = AUC.ART_NO RIGHT OUTER JOIN BID_T BID
                ON AUC.AUCTION_NO = BID.AUCTION_NO
             WHERE AUC.STATUS = 0 AND BID.BIDDER_NO = #{bidderNo})
  </select>
  
  
  
  
  
  
  
  
  
  <select id="getAuctionBidCount" parameterType="int" resultType="int">
  SELECT COUNT(*) FROM (SELECT ART.ART_NO, ART.SELLER_NO, ART.TITLE, ART.CONTENTS, 
                                AUC.AUCTION_NO, AUC.END_AT, AUC.STATUS,
                                B.BID_NO, B.BIDDER_NO, B.PRICE AS MY_PRICE, B.BID_AT,
                                ROW_NUMBER() OVER (PARTITION BY ART.ART_NO ORDER BY B.PRICE DESC) AS RN
                           FROM ART_T ART INNER JOIN AUCTION_T AUC
                             ON ART.ART_NO = AUC.AUCTION_NO INNER JOIN BID_T B
                             ON AUC.AUCTION_NO = B.AUCTION_NO
                           WHERE B.BIDDER_NO = #{bidderNo})
          WHERE RN = 1
  </select> 
  
  <select id="getAuctionBidList" parameterType="Map" resultMap="BidMap">
    SELECT Q1.ART_NO, Q1.TITLE, Q1.CONTENTS, Q1.BID_AT, Q1.MY_PRICE, Q2.PRICE, Q1.STATUS, Q1.END_AT, Q1.AUCTION_NO
    FROM (SELECT ART_NO, SELLER_NO, TITLE, CONTENTS, AUCTION_NO, END_AT, STATUS, BID_NO, BIDDER_NO, MY_PRICE, BID_AT, RN1, ROW_NUMBER() OVER(ORDER BY BID_AT ASC) AS RN
            FROM (SELECT ART.ART_NO, ART.SELLER_NO, ART.TITLE, ART.CONTENTS, 
                         AUC.AUCTION_NO, AUC.END_AT, AUC.STATUS,
                         B.BID_NO, B.BIDDER_NO, B.PRICE AS MY_PRICE, B.BID_AT,
                         ROW_NUMBER() OVER (PARTITION BY ART.ART_NO ORDER BY B.PRICE DESC) AS RN1
                    FROM ART_T ART INNER JOIN AUCTION_T AUC
                      ON ART.ART_NO = AUC.AUCTION_NO INNER JOIN BID_T B
                      ON AUC.AUCTION_NO = B.AUCTION_NO
                   WHERE B.BIDDER_NO = #{bidderNo})
          WHERE RN1 = 1) Q1 LEFT OUTER JOIN (SELECT ART_NO, PRICE
                                               FROM (SELECT ART.ART_NO, ART.SELLER_NO, ART.TITLE, ART.CONTENTS, 
                                                            AUC.AUCTION_NO, AUC.END_AT, AUC.STATUS,
                                                            B.BID_NO, B.BIDDER_NO, B.PRICE, B.BID_AT,
                                                            ROW_NUMBER() OVER (PARTITION BY ART.ART_NO ORDER BY B.PRICE DESC) AS RN2
                                                       FROM ART_T ART INNER JOIN AUCTION_T AUC
                                                         ON ART.ART_NO = AUC.AUCTION_NO INNER JOIN BID_T B
                                                         ON AUC.AUCTION_NO = B.AUCTION_NO)
                                              WHERE RN2 = 1) Q2
                                                 ON Q1.ART_NO = Q2.ART_NO
    WHERE RN BETWEEN #{begin} AND #{end}

  </select>
  
  <select id="getMyAuctionImage" parameterType="int" resultType="AuctionImageDto">
    SELECT AUCTION_IMAGE_NO, AUCTION_NO, PATH, FILESYSTEM_NAME, IMAGE_ORIGINAL_NAME, HAS_THUMBNAIL
      FROM AUCTION_IMAGE_T
     WHERE AUCTION_NO = #{auctionNo}
       AND AUCTION_IMAGE_NO = (SELECT MIN(AUCTION_IMAGE_NO)
                                 FROM AUCTION_IMAGE_T WHERE AUCTION_NO = #{auctionNo})
  </select>
  
    <select id="getAuctionSalesCount" parameterType="int" resultType="int">
    SELECT COUNT(*) FROM (SELECT ART.ART_NO, ART.SELLER_NO, ART.CATEGORY_NO, ART.TITLE, ART.CONTENTS, ART.ART_TYPE, ART.WIDTH, ART.HEIGHT, 
                                 AUC.AUCTION_NO, AUC.START_PRICE, AUC.BUY_PRICE, AUC.START_AT, AUC.END_AT, AUC.STATUS
                            FROM ART_T ART INNER JOIN AUCTION_T AUC
                              ON ART.ART_NO = AUC.ART_NO
                           WHERE ART.SELLER_NO = #{sellerNo})
  </select> 
  
  <select id="getAuctionSalesList" parameterType="Map" resultMap="BidMap">
  SELECT AUCTION_NO, TITLE, CONTENTS, START_AT, START_PRICE, PRICE, STATUS, END_AT
    FROM (SELECT A.AUCTION_NO, A.TITLE, A.CONTENTS, A.START_AT, A.START_PRICE, A.END_AT, A.STATUS, A.SELLER_NO, A.ART_NO,
                 MAX(B.PRICE) AS PRICE, ROW_NUMBER() OVER(ORDER BY A.START_AT DESC) AS RN
            FROM (SELECT AUC.AUCTION_NO, AUC.START_PRICE, AUC.START_AT, AUC.END_AT, AUC.STATUS, ART.TITLE, ART.CONTENTS, ART.SELLER_NO, ART.ART_NO
                    FROM AUCTION_T AUC INNER JOIN ART_T ART
                      ON AUC.ART_NO = ART.ART_NO) A LEFT OUTER JOIN BID_T B
                      ON A.AUCTION_NO = B.AUCTION_NO
                   WHERE SELLER_NO = #{sellerNo}
                   GROUP BY A.AUCTION_NO, A.TITLE, A.CONTENTS, A.START_AT, A.START_PRICE, A.END_AT, A.STATUS, A.SELLER_NO, A.ART_NO)
   WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getMyDrawCount" parameterType="int" resultType="int">
    SELECT COUNT(*)
      FROM (SELECT A.DRAW_NO, A.CATEGORY_NO, A.TITLE, A.PRICE, A.CONTENTS, A.WIDTH, A.HEIGHT, A.WORK_TERM, A.SELLER_NO, C.CATEGORY_NAME
              FROM (SELECT D.DRAW_NO, D.CATEGORY_NO, D.TITLE, D.PRICE, D.CONTENTS, D.WIDTH, D.HEIGHT, D.WORK_TERM, D.SELLER_NO
                      FROM DRAW_T D LEFT OUTER JOIN USER_T USR
                        ON D.SELLER_NO = USR.USER_NO) A INNER JOIN CATEGORY_T C
              ON A.CATEGORY_NO = C.CATEGORY_NO
             WHERE A.SELLER_NO = #{sellerNo})
  </select>  
 
  <select id="getMyDrawList" parameterType="Map" resultMap="DrawMap">
    SELECT A.DRAW_NO, A.CATEGORY_NO, A.TITLE, A.PRICE, A.CONTENTS, A.WIDTH, A.HEIGHT, A.WORK_TERM, A.USER_NO, A.NICKNAME, A.NAME, A.EMAIL, C.CATEGORY_NAME
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY DRAW_NO DESC) AS RN,
                   D.DRAW_NO, D.CATEGORY_NO, D.TITLE, D.PRICE, D.CONTENTS, D.WIDTH, D.HEIGHT, D.WORK_TERM,USR.USER_NO, USR.NICKNAME, USR.NAME, USR.EMAIL
              FROM DRAW_T D LEFT OUTER JOIN USER_T USR
                ON D.SELLER_NO = USR.USER_NO
             WHERE USR.USER_NO = #{sellerNo}) A INNER JOIN CATEGORY_T C
        ON A.CATEGORY_NO = C.CATEGORY_NO
     WHERE A.RN BETWEEN #{begin} AND #{end}
     ORDER BY A.DRAW_NO DESC
  </select>
  
  <select id="getDrawImage" parameterType="int" resultType="DrawImageDto">
    SELECT DRAW_IMAGE_NO, DRAW_NO, PATH, FILESYSTEM_NAME, IMAGE_ORIGINAL_NAME, HAS_THUMBNAIL
      FROM DRAW_IMAGE_T
     WHERE DRAW_NO = #{drawNo}
       AND DRAW_IMAGE_NO = (SELECT MIN(DRAW_IMAGE_NO) FROM DRAW_IMAGE_T WHERE DRAW_NO = #{drawNo})
  </select>
 
  <select id="getDrawOrderCount" parameterType="int" resultType="int">
    SELECT COUNT(*)
      FROM DRAW_ORDER_T
     WHERE BUYER_NO = #{buyerNo}
  </select>
   
  <select id="getDrawOrderList" parameterType="Map" resultMap="DrawOrderMap">
    SELECT A.DRAW_NO, A.CATEGORY_NO, C.CATEGORY_NAME, A.TITLE, A.CONTENTS, A.PRICE,
           A.ORDER_NO, A.BUYER_NO, A.ORDER_DATE, A.RECEIVE_EMAIL
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY ORDER_DATE DESC) AS RN,
                   D.DRAW_NO, D.CATEGORY_NO, D.TITLE, D.CONTENTS, D.PRICE,
                   DO.ORDER_NO, DO.BUYER_NO, DO.ORDER_DATE, DO.RECEIVE_EMAIL
              FROM DRAW_T D RIGHT OUTER JOIN DRAW_ORDER_T DO
                ON D.DRAW_NO = DO.DRAW_NO
             WHERE BUYER_NO = #{buyerNo}) A INNER JOIN CATEGORY_T C
                ON A.CATEGORY_NO = C.CATEGORY_NO
     WHERE A.RN BETWEEN #{begin} AND #{end}
     ORDER BY ORDER_DATE DESC
  </select>
   
  <select id="getEmoneyCount" parameterType="int" resultType="int">
    SELECT COUNT(*)
    FROM (SELECT E.EMONEY_NO, E.USER_NO, E.EMONEY_HISTORY, E.EMONEY_DATE
            FROM EMONEY_T E RIGHT OUTER JOIN USER_T U
              ON E.USER_NO = U.USER_NO
           WHERE U.USER_NO = #{userNo})
  </select> 
    
  <select id="getEmoneyBalance" parameterType="Map" resultType="int">
    SELECT SUM(A.EMONEY_HISTORY)
      FROM (SELECT E.EMONEY_HISTORY, ROW_NUMBER() OVER (ORDER BY E.EMONEY_NO DESC) AS RN
              FROM EMONEY_T E RIGHT OUTER JOIN USER_T U
                ON E.USER_NO = U.USER_NO
             WHERE U.USER_NO = #{userNo}) A
     WHERE RN BETWEEN #{no} AND (SELECT COUNT(*) FROM EMONEY_T
                                  WHERE USER_NO = #{userNo})
  </select>  
    
  <select id="getEmoneyList" parameterType="Map" resultMap="EmoneyMap">
    SELECT EMONEY_NO, USER_NO, EMONEY_HISTORY, EMONEY_DATE
      FROM (SELECT E.EMONEY_NO, E.USER_NO, E.EMONEY_HISTORY, E.EMONEY_DATE, ROW_NUMBER() OVER (ORDER BY E.EMONEY_NO DESC) AS RN
              FROM EMONEY_T E RIGHT OUTER JOIN USER_T U
                ON E.USER_NO = U.USER_NO
             WHERE U.USER_NO = #{userNo})
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
   
</mapper>