<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head(|경매|)}"></head>
<style>
  #wish_list{
	cursor: pointer;
  }
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

    <div class="wrap wrap_6">
      <h1 class="title">경매 게시글</h1>
      
      <div class="text-center mb-5">
        <th:block th:if="${session.user != null}">
          <th:block th:if="${session.user.userNo == auction.artDto.sellerDto.userNo}">
            
              <form id="frm_btn">
                <input type="hidden" id="auctionNo" name="auctionNo" th:value="${auction.auctionNo}">
                <button type="button" id="btn_edit" class="btn btn-warning btn-sm">편집</button>
                <button type="button" id="btn_remove" class="btn btn-danger btn-sm">삭제</button>
              </form>
          </th:block>
        </th:block>
      </div>
      <div th:text="|카테고리 : ${auction.artDto.categoryDto.categoryName}|"></div>
      <div th:text="|작가 : ${auction.artDto.sellerDto.nickname}|"></div>
      <div th:text="|제목 : ${auction.artDto.title}|"></div> 
      <div th:text="|작품유형 : ${auction.artDto.artType}|"></div> 
      <div th:text="|시작가 : ${#numbers.formatInteger(auction.startPrice, 1, 'COMMA')}P|"></div>
      <div th:text="|현재입찰가 : ${#numbers.formatInteger(auction.price, 1, 'COMMA')}P|"></div>
      <div th:text="|즉시구매가 : ${#numbers.formatInteger(auction.buyPrice, 1, 'COMMA')}P|"></div>
      <div th:text="|마감일 : ${auction.endAt}"></div>
      <div th:text="|작품 가로길이(cm) : ${auction.artDto.width}|"></div>
      <div th:text="|작품 세로길이(cm) : ${auction.artDto.height}|"></div>
      <input type="hidden" id="auctionNo2" name="auctionNo2" th:value="${auction.auctionNo}">
      <div>내용</div>
      <th:block th:if="${#strings.isEmpty(auction.artDto.contents)}">
        <div>내용없음</div>
      </th:block>
      <th:block th:if="${not #strings.isEmpty(auction.artDto.contents)}">
        <div th:text="${auction.artDto.contents}"></div>
      </th:block>
      <div>
        <th:block th:if="${#lists.isEmpty(imageList)}">
          <div>첨부 없음</div>          
        </th:block>
        <th:block th:if="${not #lists.isEmpty(imageList)}">
          <th:block th:each="atc:${imageList}">
            <div class="image" th:data-image_no="${atc.auctionImageNo}">
              <img th:src="@{|${atc.path}/s_${atc.filesystemName}|}" alt="썸네일">
            </div>
          </th:block>
        </th:block>
      </div>
      <hr>
  	  <i id="wish_list" class="fa-regular fa-heart fa-2xl" style="color: #ff0000;"></i>      
    </div>
      
    <script th:inline="javascript">
    
      var frmBtn = $('#frm_btn');
    
      const fnEdit = () => {
        $('#btn_edit').click(() => {
          frmBtn.attr('action', '/auction2/edit.form');
          frmBtn.attr('method', 'get');
          frmBtn.submit();
        })
      }
      
      const fnRemove = () => {
        $('#btn_remove').click(() => {
          if(confirm('해당 게시글을 삭제할까요?')){
            frmBtn.attr('action', '/auction2/removeAuction.do');
            frmBtn.attr('method', 'post');
            frmBtn.submit();
          }
        })
      }
    
      const fnModifyResult = () => {
        let modifyResult = /*[[${modifyResult}]]*/ null;
        if(modifyResult !== null){
          if(modifyResult === 2){
            alert('게시글이 수정되었습니다.');
          } else {
            alert('게시글이 수정되지 않았습니다.');
          }
        }
      }
        
      var auctionNo = $('#auctionNo2').val();
      
      const fnWishListControll = () => {
        $(document).on('click', '#wish_list', function(event){
          let user = /*[[${session.user}]]*/ null;
            if(user === null){
              if(confirm('로그인이 필요한 기능입니다. 로그인하시겠습니까?')){
                event.preventDefault();
                location.href = '/user/login.form';
                return;
              }
            }
          let userNo = /*[[${session.user.userNo}]]*/ null;
          $.ajax({
          type: 'post',
            url: '/auction2/controlWishlist.do',
            data: { 
              auctionNo: auctionNo,
              userNo: userNo
                },
            dataType: 'json',
            success: (resData) => {
            if(resData.hasAuctionWishlist === 0) {
              $('#wish_list').removeClass('fa-regular fa-heart fa-2xl');
              $('#wish_list').addClass('fa-solid fa-heart fa-2xl');
              return;
            } 
            $('#wish_list').removeClass('fa-solid fa-heart fa-2xl');
            $('#wish_list').addClass('fa-regular fa-heart fa-2xl');
            }
          })
        })
      }
    
      const fnWishCheck = () => {
        let userNo = /*[[${session.user.userNo}]]*/ null;
        $.ajax({
          type: 'get',
          url: '/auction2/wishCheck.do',
          data: { 
              auctionNo: auctionNo,
              userNo: userNo
              },
          dataType: 'json',
          success: (resData) => {
            if(!resData.wishCheckResult == 0) {
              $('#wish_list').removeClass('fa-regular fa-heart fa-2xl');
              $('#wish_list').addClass('fa-solid fa-heart fa-2xl');
            }
          }
        })
      }
  	  
      fnEdit();
      fnRemove();
      fnModifyResult();
      fnWishListControll();
      fnModifyResult();
      
    </script>
      
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>