<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head(|경매|)}"></head>
<link rel="stylesheet" th:href="@{/css/auctionDetail.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/bidModal.css(ver=1.3)}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<body>
  
  <div th:replace="~{layout/header::header}"></div>
  
  <div class="main_wrap">

  <div class="wrap">
		
    <div class="wrap wrap_2">

    <div class="grid-container">
		<div class="grid-item1">
			<div class="artist">
			        <div>작가사진</div>
			        <div th:text="|${auction.artDto.sellerDto.nickname}|" th:value="${session.user.nickname}" id="nickname" class="nick"></div>
			        <div th:text="|${auction.artDto.sellerDto.introduction}|" class="intro"></div>
			</div>
		</div>
		<div class="grid_item">
		  <div class="mody_delete">
        <th:block th:if="${session.user != null}">
            <th:block th:if="${session.user.userNo == auction.artDto.sellerDto.userNo}">
                <th:block th:if="${bidCount == 0}">
                    <form id="frm_btn">
                        <input type="hidden" id="auctionNo" name="auctionNo" th:value="${auction.auctionNo}">
                        <button type="button" id="btn_edit" class="modify_btn">편집</button>
                        <button type="button" id="btn_remove" class="delete_btn">삭제</button>
                      </form>
                  </th:block>
              </th:block>
          </th:block>
		    </div>
		</div>
		</div>
		
    <div class="text-center mb-5">
       
    </div>
      
    <!-- 첫 번째 그리드 -->
    <div class="grid-container">
      <div class="grid-item1">
       	<div>
          <th:block th:if="${#lists.isEmpty(imageList)}">
            <div>첨부 없음</div>          
          </th:block>
          <th:block th:if="${not #lists.isEmpty(imageList)}">
            <th:block th:each="atc:${imageList}">
              <div class="image" th:data-image_no="${atc.auctionImageNo}"> 
                <img th:src="@{|${atc.path}/s_${atc.filesystemName}|}" alt="썸네일">
              </div>
            </th:block>
          </th:block>
        </div>
	
		  </div>
		<div class="grid_item"> <!--작품명, 시작가 등등..-->
  		<div class="grid_2" style="text-align: right;">
        <th:block th:if="${auction.status == 0}">
          <div class="auction_ongoing">경매진행중</div>        
        </th:block>
        <th:block th:if="${auction.status == 1}">
          <div class="auction_end">경매종료</div>        
        </th:block>
        <div>
          <i id="wish_list" class="fa-regular fa-heart fa-2xl" style="color: rgb(84, 186, 125); margin-bottom: 15%;"></i>      
        </div>
  		</div>
			
			<div th:text="|${auction.artDto.title}|" class="art_title"></div> 
			
			<div th:text="${auction.artDto.categoryDto.categoryName}|" class="category"></div>
			
			
			<div class="grid_2">
				<div class="sub_title">시작가</div>
				<div th:text="|${#numbers.formatInteger(auction.startPrice, 1, 'COMMA')}P|" class="sub_contents"></div>
			</div>

			<div class="grid_2">
        <div id="nowPrice"></div>
				<div class="sub_title">현재입찰가</div>
				<div th:text="|${#numbers.formatInteger(auction.price, 1, 'COMMA')}P|" class="sub_contents"></div>
			</div>	

			<div class="grid_2">
			    <div class="sub_title">즉시구매가</div>
			    <div th:text="| ${#numbers.formatInteger(auction.buyPrice, 1, 'COMMA')}P|" class="sub_contents_now"></div>
			</div>
			
			<div class="grid_2">
        <div id="countDown"></div>
				<div class="sub_title">마감일</div>
				<div th:text="| ${auction.endAt}"></div>
			</div>
			
			<div class="grid_2">
				<div class="sub_title">작품유형</div>
				<th:block th:if="${auction.artDto.artType} == 0">
          <div th:text="디지털"></div>
        </th:block>
				<th:block th:if="${auction.artDto.artType} == 1">
          <div th:text="실물"></div>
        </th:block>
			</div>
			
			<form id="frm_buy_chat">
    		<div style="margin-top: 10%;">
          <input type="hidden" id="auctionNo" name="auctionNo" th:value="${auction.auctionNo}">
          <th:block th:if="${session.user != null}">
            <input type="hidden" name="userNo" id="userNo" th:value="${session.user.userNo}">
          </th:block>
    			<button class="btn_buy" id="btn_orderPayment" type="submit" style="background-color: rgb(84, 186, 125);">즉시구매</button>
    			<button class="btn_buy" id="btn_orderBid" type="button" style="background-color: black; color: white;">입찰하기</button>
    		</div>
      </form>

		</div>
		
	  <div style="margin-top: 10%; margin-bottom: 40%;">
      <div class="art_detail">작품정보</div>
        <div th:text="|작품 가로길이(cm) : ${auction.artDto.width}|"></div>
        <div th:text="|작품 세로길이(cm) : ${auction.artDto.height}|"></div>
        <input type="hidden" id="auctionNo2" name="auctionNo2" th:value="${auction.auctionNo}">
        
        <div class="art_contents">작품설명</div>
        <th:block th:if="${#strings.isEmpty(auction.artDto.contents)}">
          <div>내용없음</div>
        </th:block>
        <th:block th:if="${not #strings.isEmpty(auction.artDto.contents)}">
          <div th:text="${auction.artDto.contents}"></div>
        </th:block>
			
		</div>
    </div>

 
    </div>
    
    <div id="container"></div>
    <div id="modalBid" class="modal-overlay">
      <div class="modal-window">
        <div class="modal-title">
          <h2>입찰</h2>
        </div>
        <div class="close-area">X</div>
        <div class="content">
          <div class="sub_title">시작가</div>
          <div th:text="|${#numbers.formatInteger(auction.startPrice, 1, 'COMMA')}P|" class="sub_contents"></div>
          <div class="sub_title">현재입찰가</div>
          <div th:text="|${#numbers.formatInteger(auction.price, 1, 'COMMA')}P|" class="sub_contents"></div>
          <div id="nowPrice"></div>
          <div class="sub_title">마감일</div>
          <div th:text="| ${auction.endAt}"></div>
          <div id="countDown"></div>
          <div class="sub_title">입찰 상황</div>
          <div th:text="| ${bidCount}"></div>
          <form id="frm_bid">
            <label for="bidMoney" class="sub_title">입찰 가격 입력하기</label>
            <input type="number" name="bidMoney" id="bidMoney" th:value="${auction.price}" step="100">
            <input type="number" id="price" th:value="${price}">
            <button id="btn_addBid" type="button" style="background-color: black; color: white;">입찰하기</button>
            <input type="hidden" name="auctionNo" id="auctionNo" th:value="${auction.auctionNo}">
            <th:block th:if="${session.user != null}">
              <input type="hidden" name="bidderNo" id="bidderNo" th:value="${session.user.userNo}">
            </th:block>
          </form>
        </div>
      </div>
    </div>
      
    <script th:inline="javascript">
      
      var frmBtn = $('#frm_btn');
      var user = /*[[${session.user}]]*/ null;
      var userNo = /*[[${session.user != null ? session.user.userNo : null}]]*/ null;
      var auctionUserNo = /*[[${auction.artDto.sellerDto.userNo}]]*/ null;
      
      const fnEdit = () => {
        $('#btn_edit').click(() => {
          frmBtn.attr('action', '/auction2/edit.form');
          frmBtn.attr('method', 'get');
          frmBtn.submit();
        })
      }
      
      const fnRemove = () => {
        $('#btn_remove').click(() => {
          if(confirm('해당 게시글을 삭제할까요?')){
            frmBtn.attr('action', '/auction2/removeAuction.do');
            frmBtn.attr('method', 'post');
            frmBtn.submit();
          }
        })
      }
    
      const fnModifyResult = () => {
        let modifyResult = /*[[${modifyResult}]]*/ null;
        if(modifyResult !== null){
          if(modifyResult === 2){
            alert('게시글이 수정되었습니다.');
          } else {
            alert('게시글이 수정되지 않았습니다.');
          }
        }
      }
      
      const fnAddBidResult = () => {
        let resultSum = /*[[${resultSum}]]*/ null;
        if(resultSum !== null){
          if(resultSum === 4){
            alert('결제가 완료되었습니다.');
          } else {
            alert('결제가 실패했습니다.');
          }
        }
      }
        
      var auctionNo = $('#auctionNo2').val();
      
      const fnWishListControll = () => {
        $(document).on('click', '#wish_list', function(event){
          if(user === null){
            if(confirm('로그인이 필요한 기능입니다. 로그인하시겠습니까?')){
              event.preventDefault();
              location.href = '/user/login.form';
              return;
            } else {
              event.preventDefault();
              return;
            }
          }
          $.ajax({
          type: 'post',
            url: '/auction2/controlWishlist.do',
            data: { 
              auctionNo: auctionNo
                },
            dataType: 'json',
            success: (resData) => {
            if(resData.hasAuctionWishlist === 0) {
              $('#wish_list').removeClass('fa-regular fa-heart fa-2xl');
              $('#wish_list').addClass('fa-solid fa-heart fa-2xl');
              return;
            } 
            $('#wish_list').removeClass('fa-solid fa-heart fa-2xl');
            $('#wish_list').addClass('fa-regular fa-heart fa-2xl');
            }
          })
        })
      }
    
      const fnWishCheck = () => {
        $.ajax({
          type: 'get',
          url: '/auction2/wishCheck.do',
          data: { 
              auctionNo: auctionNo
              },
          dataType: 'json',
          success: (resData) => {
            if(!resData.wishCheckResult == 0) {
              $('#wish_list').removeClass('fa-regular fa-heart fa-2xl');
              $('#wish_list').addClass('fa-solid fa-heart fa-2xl');
            }
          }
        })
      }
  	  
      const fnOrderPayment = () => {
        $('#btn_orderPayment').click((ev) => {
          if(user === null){
            if(confirm('로그인이 필요한 기능입니다. 로그인하시겠습니까?')){
              event.preventDefault();
              location.href = '/user/login.form';
              return;
            } else {
              event.preventDefault();
              return;
            }
          }
          if(userNo != auctionUserNo) {
            $('#frm_buy_chat').attr('action', '/auction2/orderPayment.form');
            $('#frm_buy_chat').attr('method', 'get');
            console.log(userNo + "<>" + auctionUserNo);
            $('#frm_buy_chat').submit();
          } else {
            alert("자신의 게시글은 주문/결제 할 수 없습니다.")
              ev.preventDefault();
              return;
            }
          })
        }
        
      const fnOrderBid = () => {
        
      }
        
      const modalBid = document.getElementById("modalBid");
      const btnModalBid = document.getElementById("btn_orderBid")
      
      function modalBidOn() {
        modalBid.style.display = "flex"
      }
      
      function isModalBidOn() {
        return modalBid.style.display === "flex"
      }
      
      function modalBidOff() {
        modalBid.style.display = "none"
      }
      
      btnModalBid.addEventListener("click", e => {
        if(userNo === 0){
          e.preventDefault();
          return;
        }
        modalBidOn();
      })
      
      const closeModalBid = modalBid.querySelector(".close-area")
      closeModalBid.addEventListener("click", e => {
        modalBidOff();
      })
      window.addEventListener("mousedown", e => {
        const isOutsideModal = !modalBid.contains(e.target);
        if (isOutsideModal && isModalBidOn()) {
          modalBidOff();
        }
      });
      window.addEventListener("keyup", e => {
        if (isModalOn() && e.key === "Escape") {
          modalBidOff();
        }
      });
      
      const fnAddBid = () => {
        $('#btn_addBid').click((ev) => {
          if(user === null){
            if(confirm('로그인이 필요한 기능입니다. 로그인하시겠습니까?')){
              event.preventDefault();
              location.href = '/user/login.form';
              return;
            } else {
              event.preventDefault();
              return;
            }
          }
          let frmBid = $('#frm_bid');
          frmBid.attr('action', '/auction2/addBid.do');
          frmBid.attr('method', 'post');
          frmBid.submit();
        })
      }
          
      fnEdit();
      fnRemove();
      fnModifyResult();
      fnWishListControll();
      fnModifyResult();
      fnWishCheck();
      fnOrderPayment();
      fnAddBidResult();
      
      modalBidOn();
      isModalBidOn();
      modalBidOff();
      fnAddBid();
      
    </script>
    
    </div>
    
    <script th:inline="javascript">
    
      function getId(id){
        return document.getElementById(id);
      }
      
      var data = {};//전송 데이터(JSON)
      
      var socket = null;
      var nickname = getId('nickname');
      var btnSend = getId('btn_addBid');
      var bid = getId('bid');
      var price = getId('price');
      var auctionNo = getId('auctionNo2');
      var bidderNo = /*[[${session.user.userNo}]]*/ null;
      var nowPrice = getId('nowPrice');
      var countdown = getId('countDown');
      var deadline = new Date(/*[[${auction.endAt}]]*/ null);
      var bidPrice;
      
      function fnConnect() {
        var ws = new WebSocket("ws://" + location.host + "/auction/[[${auction.auctionNo}]]");
        socket = ws;
        ws.onopen = function() {
          console.log('웹소켓 연결됨');
        }
        ws.onmessage = function(msg){
          var data = JSON.parse(msg.data);
          if (data.nickname !== null) {
            var css;
            if (data.nickname == nickname.value) {
                css = 'class=me';
            } else {
                css = 'class=other';
            }
          }
            var formattedBidPrice = new Intl.NumberFormat('ko-KR').format(data.bidPrice);
            var onitem = `<span>현재 입찰가 : ${formattedBidPrice}P</span>`;
            nowPrice.innerHTML = onitem;
            nowPrice.scrollTop = nowPrice.scrollHeight;
        }
      ws.onclose = function(ev){
      console.log('웹소켓 닫힘');
      setTimeout( function(){ fnConnect(); }, 1000);
      };
      ws.onerror = function(ev){console.log('에러 '); }; 
    }
    
    price.onkeyup = function(ev){
      console.log('ev.keyCode:' + ev.keyCode);      
      if(ev.keyCode == 13){
        fnSend();
      }
    }
    
    btnSend.onclick = function(){
      fnSend();
    }
    
    function fnSend(){
      if(price.value.trim() != ''){
        data.nickname = nickname.value;
        data.auctionNo = auctionNo.value;
        data.bidderNo = bidderNo;
        data.price = price.value;
        data.bidAt = new Date().toLocaleString();
        var temp = JSON.stringify(data);
        socket.send(temp);
      }
      console.log('temp:' + temp);
      bidPrice = price.value;
      price.value ='';
      sendDetailUpdateMessage();
    }
    function sendDetailUpdateMessage(){
      var listSocket = new WebSocket("ws://" + location.host + "/auctionList");
      listSocket.onopen = function(msg) {
        console.log('웹소켓 연결됨');
        data = {};
        data.auctionNo = auctionNo.value;
        data.bidPrice = bidPrice;
        data.endAt = deadline;
        var temp2 = JSON.stringify(data);
        listSocket.send(temp2);
      };
      listSocket.onmessage = function(msg) {
        console.log('웹소켓 메세지: ' + JSON.parse(msg.data));
          
      };
      listSocket.onclose = function(ev) {
          console.log('웹소켓 닫힘');
          setTimeout(function() { fnConnect(); }, 1000);
      };
      listSocket.onerror = function(ev) {
          console.log('에러 ');
      };
    }
    function calculateTimeRemaining() {
    var now = new Date();
    var timeDifference = deadline - now;
    if (timeDifference <= 0) {
        // 마감일이 지났을 경우
        return { days: 0, hours: 0, minutes: 0, seconds: 0 };
    }

    // 차이를 시, 분, 초로 변환
    var seconds = Math.floor(timeDifference / 1000);
    var minutes = Math.floor(seconds / 60);
    var hours = Math.floor(minutes / 60);
    var days = Math.floor(hours / 24);

    hours %= 24;
    minutes %= 60;
    seconds %= 60;

    return { days, hours, minutes, seconds };
    }

    function updateCountdown() {
    var timeRemaining = calculateTimeRemaining();

    // 결과를 표시할 요소에 접근해서 표시
    countdown.innerHTML = ` 마감일 : 
                            ${timeRemaining.days} 일 
                            ${timeRemaining.hours} 시  
                            ${timeRemaining.minutes} 분  
                            ${timeRemaining.seconds} 초`;
    }
    
    setInterval(updateCountdown, 1000); // 1초마다 업데이트
    updateCountdown();                  // 초기에 한번 호출하여 초기 상태를 표시 
    fnConnect();  
        
  </script>
    
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>