<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('경매 게시판')}"></head>

<style>
  
  .auction_heart_div {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
  }
  .auction_list {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
   }
  .auction {
    width: 262px;
    height: 262px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    margin: 20px 15px;
  }
  .auction:hover {
    background-color: silver;
    cursor: pointer;
  }
  .text-center {
    
  }
  .searchWord {
  width: 250px;
  display :inline-block;
  text-align: left;
}
.search {
  width: 350px;
  margin-right: 400px;
  margin-top: 40px;
}

.btn_search {
  width: 37px;
  height: 37px;
  background-color: white;
  border: none;
  display :inline-block;
}
.search_icon {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}
</style>

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

    <div class="wrap wrap_9">
    
      <div class="text-center">
        <div class="search">
          <form id="search_frm">
            <input type="text" name="searchWord" id="searchWord" class="searchWord input-group-text" placeholder="작가/작품명 검색">
            <button type="submit" id="btn_search" class="btn_search"><i class="fa-solid fa-magnifying-glass search_icon" style="color: #1937cc;"></i></button>
            <input type="hidden" name="userNo" id="userNo" th:value="${session.user.userNo}">
            <select class="col-sm-3" name="" id="">
              <option selected>전체</option>
              <option>제목</option>
              <option>내용</option>
              <option>작가명</option>
            </select>
            <select class="col-sm-3" name="categoryNo" id="categoryNo">
              <option value="1">포토그래픽</option>  
              <option value="2">원화</option>  
              <option value="3">드로잉</option>  
              <option value="4">판화</option>  
              <option value="5">서예</option>  
              <option value="6">회화</option>  
              <option value="7">동양화</option>  
              <option value="8">공예</option>  
              <option value="9">디지털아트</option>  
              <option value="10">조각품</option>  
              <option value="11">기타</option>  
            </select>
            <select class="col-sm-3" name="status" id="status">
              <option value="0">진행중</option>  
              <option value="1">낙찰</option>  
              <option value="-1">유찰</option>  
            </select>
          </form>
        </div>
        <div>
          <a th:href="@{/auction/write.form}">
            <button type="button" class="btn btn-outline-primary">새글작성</button>
          </a>
        </div>
      </div>
      
      <div id="auction_list" class="auction_list"></div>
    
    </div>
    
    <script th:inline="javascript">
    
      // 전역 변수
      var page = 1;
      var totalPage = 0;
        
     
      const fnGetAuctionList = () => {
        $.ajax({
          // 요청
          type: 'get',
          url: '/auction/getList.do',
          data: {
                    page: page,
                    userNo: '[[${session.user.userNo}]]'
                    },
          // 응답
          dataType: 'json',
          success: (resData) => {  
            totalPage = resData.totalPage;
            $.each(resData.auctionList,(i, auction) => {
              let str = '<div class="auction" data-auction_no="' + auction.auctionNo + '">';
              str += '<div class="auction_image">' + '</div>';
              if(auction.status === 0){
              str += '<div>경매진행중</div>';
              } else {
              str += '<div>경매종료</div>';
              }
              str += '<div class="auction_heart_div"><i class="' + auction.heartClass + ' fa-heart fa-xl auction_heart" style="color: #e11414;"></i></div>';
              str += '<div><span>' + auction.artDto.categoryDto.categoryName + '</span></div>';
              str += '<div><span>' + auction.artDto.title                    + '</span></div>';
              str += '<div><span>' + auction.artDto.sellerDto.nickname       + '</span></div>';
              str += '<div><span>시작가</span><span>'         + auction.startPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + 'P</span></div>'; // 상품가격 1000단위 콤마찍기
              str += '<div><span>현재입찰가</span><span>'     + auction.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + 'P</span></div>'; // 상품가격 1000단위 콤마찍기
              str += '<div><span>즉시 구매가</span><span>'    + auction.buyPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + 'P</span></div>'; // 상품가격 1000단위 콤마찍기
              str += '<div><span>마감일</span><span> '        + auction.endAt + '</span></div>'; // 상품가격 1000단위 콤마찍기
              str += '</div>';
              $('#auction_list').append(str);
            })
          }
        })
      }
     
      const fnHeart = () => {
        $(document).on('click', '.auction_heart', function(){
              $.ajax({
                  // 요청
                  type: 'get',
                  url: '/auction/controlAuctionWishlist.do',
                  data: {
                    auctionNo: $(this).closest('div .auction').data('auction_no'),
                    userNo: '[[${session.user.userNo}]]'
                    },
                  // 응답
                  dataType: 'json',
                  success: (resData) => {
                    console.log(resData);
                     if(resData.hasAuctionWishlist === 0){
                        $(this).removeClass('fa-regular');  
                        $(this).addClass('fa-solid');
                        console.log('하트 채우기');
                        return;
                      }
                      $(this).removeClass('fa-solid');
                      $(this).addClass('fa-regular');
                      console.log('하트 비우기');
                    }
                  })
        })
      }
      
      const fnAuctionDetail = () => {
        $(document).on('click', '.auction', function(){
          location.href = '/auction/detail.do?auctionNo=' + $(this).data('auction_no');
        })
      }
    
      const fnScroll = () => {
        
        var timerId;  // 최초 undefined 상태
        
        $(window).on('scroll', () => {
          
          if(timerId){  // timerId가 undefined이면 false로 인식, timerId가 값을 가지면 true로 인식
            clearTimeout(timerId);
          }
          
          timerId = setTimeout(() => {  // setTimeout 실행 전에는 timerId가 undefined 상태, setTimeout이 한 번이라도 동작하면 timerId가 값을 가짐
            
            let scrollTop = $(window).scrollTop();     // 스크롤바 위치(스크롤 된 길이)
            let windowHeight = $(window).height();     // 화면 전체 크기
            let documentHeight = $(document).height(); // 문서 전체 크기
            
            if((scrollTop + windowHeight + 100) >= documentHeight) {  // 스크롤이 바닥에 닿기 100px 전에 true가 됨
              if(page > totalPage){  // 마지막 페이지를 보여준 이후에 true가 됨
                return;              // 마지막 페이지를 보여준 이후에는 아래 코드를 수행하지 말 것 
              }
              page++;
              fnGetAuctionList();
            }
            
          }, 200);  // 200밀리초(0.2초) 후 동작(시간은 임의로 조정 가능함)
          
        })
        
      }
      
      const fnAddResult = () => {
        let addResult = /*[[${addResult}]]*/ null;
        if(addResult !== null){
          if(addResult === true){
            alert('성공적으로 업로드 되었습니다.');
            $('#auction_list').empty();
          } else {
            alert('업로드가 실패하였습니다.');
          }
        }
      }
      
      const fnRemoveResult = () => {
        let removeResult = /*[[${removeResult}]]*/ null;
        if(removeResult !== null){
          if(removeResult === 1){
            alert('게시글이 삭제되었습니다.');
            $('#auction_list').empty();
          } else {
            alert('게시글 삭제가 실패했습니다.');
          }
        }
      }

      
      fnGetAuctionList();
      // fnAuctionDetail();
      fnScroll();
      fnAddResult();
      fnRemoveResult();
      fnHeart();
    </script>

  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>