<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('응찰 등록')}"></head>
<body>
  <style>
    
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  </style>
  <div th:replace="~{/layout/header::header}"></div>
  
  <div class="main_wrap">

    <div class="wrap wrap_6">
    
      <h1 class="title">경매 등록</h1>
      
      <form id="frm_auction_add" method="post" th:action="@{/auction/add.do}" enctype="multipart/form-data">
        
        <div class="mt-3">
          <label for="title" class="form-label">카테고리</label>
          <select class="col-sm-3" name="categoryNo" id="categoryNo">
      <option value="1">포토그래픽</option>  
      <option value="2">원화</option>  
      <option value="3">드로잉</option>  
      <option value="4">판화</option>  
      <option value="5">서예</option>  
      <option value="6">회화</option>  
      <option value="7">동양화</option>  
      <option value="8">공예</option>  
      <option value="9">디지털아트</option>  
      <option value="10">조각품</option>  
      <option value="11">기타</option>  
      </select>
        </div>
        <div class="mt-3">
          <label for="title" class="form-label target2">작품명 필수</label>
          <input type="text" name="title" id="title" class="form-control">
        </div>
        
        <div class="mt-3">
          <div class="form-label target2">작품종류 필수</div>
          <div id="artType">
            <input type="radio" name="artType" id="digital" class="form-check-input" th:value="0" checked>
            <label for="digital" class="form-label target2">디지털</label>
            <input type="radio" name="artType" id="real" class="form-check-input" th:value="1">
            <label for="real" class="form-label target2">실물</label>
            <div>* 작품종류 선택은 필수사항 입니다.</div>
          </div>
        </div>
        <div class="mt-3">
          <label for="buyPrice" class="form-label target2 write_num">즉시구매가</label>
          <input type="number" name="buyPrice" id="buyPrice" class="form-control write_num" placeholder="금액을 입력해 주세요.">
        </div>
        
        <div class="mt-3">
          <label for="startPrice" class="form-label target2 write_num">입찰시작가 필수</label>
          <input type="number" name="startPrice" id="startPrice" class="form-control write_num" placeholder="금액을 입력해 주세요.">
        </div>
    
        <div class="mt-3">
             <div class="form-label target2">마감일자 필수</div>
           <label for="dateInput">날짜 </label>
           <input type="date" id="dateInput" required>
   
           <label for="timeInput">시간 </label>
           <input type="time" id="timeInput" required>
           <input type="hidden" name="endAt" id="endAt">
        </div>
        
        <div class="mt-3">
          <label for="files" class="form-label target2" id="target">대표이미지 필수 첫 번째 첨부이미지가 대표이미지 입니다.</label>
          <input type="file" name="files" id="files" class="form-control" multiple>
        </div>
        <div id="image_container"></div>
        
        <div class="mt-3">
          <label for="width" class="form-label">작품 가로길이(cm)</label>
          <input type="number" name="width" id="width" class="form-control write_num" placeholder="0">
          <label for="height" class="form-label">작품 세로길이(cm)</label>
          <input type="number" name="height" id="height" class="form-control write_num" placeholder="0">
        </div>
        
        <hr>
        
        <div class="mt-3">
          <label for="contents" class="form-label target2">작품설명 필수</label>
          <textarea rows="8" name="contents" id="contents" class="form-control"></textarea>
        </div>
        <div class="text-center mt-5" th:if="${session.user != null}">
          <a th:href="@{/auction/}">
            <button class="btn btn-secondary" type="button">작성취소</button>
          </a>
          <input type="hidden" name="sellerNo" th:value="${session.user.userNo}">
          <button type="submit" class="btn btn-primary">작성완료</button>
        </div>
      </form>
      
    </div>
      
    <script>
      
      function fnUpdateTime(){
         
            // 사용자가 날짜 또는 시간을 변경할 때마다 값을 업데이트
            document.getElementById('dateInput').addEventListener('input', fnSetEndAtValue);
            document.getElementById('timeInput').addEventListener('input', fnSetEndAtValue);
      };
        // 페이지 로드 시 최소값과 최대값 설정
        window.onload = function() {
            fnSetEndAtValue();
            fnSetMinMaxValues();
        };
      function fnSetEndAtValue() {
            let dateInput = document.getElementById('dateInput').value;
            let timeInput = document.getElementById('timeInput').value;
            
            // 사용자가 입력한 날짜와 시간을 조합
            let datetime = `${dateInput}T${timeInput}`;
            // 서버로 전송할 hidden input에 값을 설정
            document.getElementById('endAt').value = datetime;
        }
        
        
      function fnSetMinMaxValues() {
          let dateInput = document.getElementById('dateInput');
          let now = new Date();

          // 현재 날짜를 "년-월-일" 형식으로 변환
          let currentDate = now.toLocaleDateString('ko-KR').replace(/\. /g, '-').replace('.', '');
          // 현재 날짜로 value, min 설정
          dateInput.value = currentDate;
            
          // 최소 날짜는 다음날
          now.setDate(now.getDate() + 2);
          let minDate = now.toISOString().split('T')[0];
          dateInput.min = minDate;
          dateInput.value = minDate;
          // 2주 뒤의 날짜를 구해서 max 설정
          now.setDate(now.getDate() + 13);
          let maxDate = now.toISOString().split('T')[0];
          dateInput.max = maxDate;
        }
      const fnFileCheck = () => {
        $('#files').change((ev) => {
          $('#image_container').empty();
      for (var image of event.target.files) {
            var reader = new FileReader();
            reader.onload = function(event) {
              var img = document.createElement("img");
              img.setAttribute("src", event.target.result);
              img.setAttribute("width", "250px");
              document.querySelector("#image_container").appendChild(img);
            };

            console.log(image);
            reader.readAsDataURL(image);
          }
          $('#image_list').empty();
          let maxSize = 1024 * 1024 * 100;
          let maxSizePerFile = 1024 * 1024 * 10;
          let totalSize = 0;
          let files = ev.target.files;
          for(let i = 0; i < files.length; i++){
            totalSize += files[i].size;
            if(files[i].size > maxSizePerFile){
              alert('각 첨부파일의 최대 크기는 10MB입니다.');
              $(ev.target).val('');
              return;
            }
          }
          if(totalSize > maxSize){
            alert('전체 첨부파일의 최대 크기는 100MB입니다.');
            $(ev.target).val('');
            return;
          }
        })
      }
      function fnCheckNumber() {   
          $('.write_num').keyup(function() {
              let replace_text = $(this).val().replace(/[^-0-9]/g, '');
              $(this).val(replace_text);
          });
      }
      
      const fnSubmit = () => {
      $('#frm_auction_add').submit((ev) => {
        if($('#title').val() === ''){
          alert('제목은 반드시 입력해야 합니다.');
          $('#title').focus();
          ev.preventDefault();
        return;
      } else if($("#startPrice").val() === ''){
        alert('입찰시작가는 반드시 입력해야 합니다');
        $('#startPrice').focus();
          ev.preventDefault();
        return;
      } else if($("#endAt").val() === ''){
        alert('마감기한은 반드시 입력해야 합니다');
        $('#endAt').focus();
          ev.preventDefault();
        return;
      } else if($("#files").val() === ''){
        alert('대표이미지는 반드시 추가해야 합니다');
          ev.preventDefault();
        return;
      } else if($("#contents").val() === ''){
        alert('내용은 반드시 입력해야 합니다');
        $('#contents').focus();
          ev.preventDefault();
        return;
      } else if($("#buyPrice").val() > 2100000000){
        alert('가격이 너무 큽니다.(21억 이하 입력)');
        $('#price').focus();
          ev.preventDefault();
        return;
      } else if($("#startPrice").val() > 2100000000){
        alert('가격이 너무 큽니다.(21억 이하 입력)');
        $('#price').focus();
          ev.preventDefault();
        return;
      } else if($("#width").val() > 2100000000){
        alert('작품 가로길이가 너무 큽니다.');
        $('#width').focus();
          ev.preventDefault();
        return;
      } else if($("#height").val() > 2100000000){
        alert('작품 세로길이가 너무 큽니다.');
        $('#height').focus();
          ev.preventDefault();
        return;  
      } else if($("#buyPrice").val() > 0 && $("#startPrice").val() < $("#buyPrice").val()){
        alert('시작가가 즉시구매가보다 높을수 없습니다.');
        $('#startPrice').focus();
          ev.preventDefault();
        return;
      }
        })
      }
      
      $('#target').each(function() {
      $(this).html($(this).html().replace(/(첫 번째 첨부이미지가 대표이미지 입니다.)/g, '<span style="color: crimson">(첫 번째 첨부이미지가 대표이미지 입니다.)</span>'));
    });
    
      $('.target2').each(function() {
      $(this).html($(this).html().replace(/(필수)/g, '<span style="color: crimson">⁕</span>'));
    });
    
    $('#frm_auction_add').submit(() => {
    if($('#width').val() == ""){
        $('#width').val("0");
    }
    if($('#height').val() == ""){
        $('#height').val("0");
    }
    if($('#buyPrice').val() == ""){
        $('#buyPrice').val("0");
    }
    })
    
    const fnGetByteB = () => {
    $('#frm_auction_add').submit((ev)=>{
      let contents = $("#contents").val();
      let title =  $("#title").val();
      let byte = 0;
      let byte2 = 0;
      for (let i = 0; i < title.length; i++) {
      (title.charCodeAt(i) > 127) ? byte += 3 : byte++ ;
      }
      for (let i = 0; i < contents.length; i++) {
      (contents.charCodeAt(i) > 127) ? byte2 += 3 : byte2++ ;
      }
      
      if(byte > 100){
        alert("제목은 최대 한글 33자, 영문 100자 입니다.")
          ev.preventDefault();
          return;
      } else if(byte2 > 4000){
        alert("내용은 최대 4000BYTE 입니다.")
          ev.preventDefault();
          return;
      }
    })
    }
      fnCheckNumber();
      fnGetByteB();
      fnFileCheck();
      fnSubmit();
      fnUpdateTime();
    </script>
      
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>