<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
  <!-- 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="DrawDto"           type="com.gdu.drawauction.dto.DrawDto"/>
    
    <typeAlias alias="UserDto"           type="com.gdu.drawauction.dto.UserDto"/>
    <typeAlias alias="InactiveUserDto"   type="com.gdu.drawauction.dto.InactiveUserDto"/>
	<typeAlias alias="LeaveUserDto"      type="com.gdu.drawauction.dto.LeaveUserDto"/>

    <typeAlias alias="CategoryDto"       type="com.gdu.drawauction.dto.CategoryDto"/>
  </typeAliases>


</configuration>