<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('문의작성')}"></head>

<style>
  .ck.ck-editor {
    max-width: 1000px;
  }
  .ck-editor__editable {
    min-height: 400px;
  }
  .ck-content {
    color: gray;
  }
</style>

<body>

  <div th:replace="~{/layout/header::header}"></div>

  <div class="main_wrap">

    <div class="wrap wrap_3">
    
      <script src="/resources/js/.js?dt=${dt}"></script>

      <div>
      
        <form id="frm_notice_add" method="post" th:action="@{/notice/addNotice.do}">
          
          <h1 style="text-align: center;">공지사항 작성</h1>

          <div>
          
            <form id="frm_inquiry_add" method="post" th:action="@{/inquiry/addInquiry.do}">
              
              <h1 style="text-align: center;">문의사항을 작성하세요</h1>
              
              <div>
                <label for="title">제목</label>
                <input type="text" name="title" id="title" class="form-control">
              </div>
              
              <div>
                <label for="contents">내용</label>
                <textarea name="contents" id="contents" style="display: none;"></textarea>
                <div id="toolbar-container"></div>
                <div id="ckeditor"></div>
              </div>
              
              <div>
                <input type="hidden" name="userNo" value="${sessionScope.user.userNo}">
                <button class="btn btn-primary col-12" type="submit">작성완료</button>
              </div>
              
            </form>
          
          </div>
          
          <script>
          
            const fnCkeditor = () => {
              DecoupledEditor
                .create(document.getElementById('ckeditor'), {
                  ckfinder: {
                    // 이미지 업로드 경로
                    uploadUrl: '/inquiry/imageUpload.do'         
                  }
                })
                .then(editor => {
                  const toolbarContainer = document.getElementById('toolbar-container');
                  toolbarContainer.appendChild(editor.ui.view.toolbar.element);
                })
                .catch(error => {
                  console.error(error);
                });
            }
            
            const fnInquiryAdd = () => {
              $('#frm_inquiry_add').submit(() => {
                $('#contents').val($('#ckeditor').html());
              })
            }
            
            fnCkeditor();
            fnInquiryAdd();
            
          </script>
          
     </div>
   </div>
 </div>
  
<div th:replace="~{/layout/footer::footer}"></div>

</body>
</html>