<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head('404')}"></head>

<body>
	
	<div th:replace="~{layout/header::header}"></div>	
	
	<div class="wrap">
  <img src="/image/404.png" height="700px" text-align="center">
  <div style="text-align: center; margin-bottom: 150px;">
	  <button type="submit" class="btn btn-outline-success btn-lg"><a th:href="@{/main.do}">홈으로</a></button>
  </div>
  
	</div>
 <div th:replace="~{layout/footer::footer}"></div>
</body>
</html>