<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*
  <head> 태그를 조각(fragment)으로 만든다.
  1. 조각이름 : head
  2. 파라미터 : title
*/-->
<head th:fragment="head(title)">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  <th:block th:if="${#strings.isEmpty(title)}">마이홈</th:block>
  <th:block th:if="${not #strings.isEmpty(title)}" th:text="${title}"></th:block>
</title>
<!--/*
  Link URL Expression
  1. 경로 작성식
  2. @{}
*/-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/init.css(ver=1.1)}" />
<link rel="stylesheet" th:href="@{/css/header.css(ver=1.2)}" />
<link rel="stylesheet" th:href="@{/css/main.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/footer.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/paging.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/common.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/ckeditor.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/menu.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/modal.css(ver=1.6)}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/decoupled-document/ckeditor.js"></script>
</head>

<body>

  <div th:fragment="header" class="header_wrap">

    
    <script>
      const fnMain = () => {
        $('.logo').click(() => {
          location.href = '/main.do';
        })
      }
      fnMain();
    </script>
    
    <div  style="background-color:  #F6F6F6;">
		 <div class="wrap">
		   <div class="login_wrap">
      <th:block th:if="${session.user == null}">
        <ul class="ico_user_group">

          <li><a th:href="@{/user/login.form}">로그인</a></li>
          <li>│</li>
          <li><a th:href="@{/user/agree.form}">회원가입</a></li>
          <li>│</li>
          <li><a th:href="@{/notice/list.do}"> 고객센터</a></li>
        </ul>
      </th:block>
      <th:block th:if="${session.user != null}">
        <ul class="ico_user_group">
		<th:block th:if="${session.user != null and session.user.email == 'admin01@naver.com'}">
		    <li class="admin-link"><a th:href="@{/admin/home.form}">관리자페이지</a></li>
		</th:block>
			<li>
			  <a th:href="@{/mypage/detail.do}">
			    <span th:text="|${session.user.nickname}|"></span> 님 환영합니다
			  </a>
			</li>
          <li>│</li>
          <li>
           <a th:href="@{/user/logout.do}"> 로그아웃</a>
           <li>│</li>
           <a th:href="@{/notice/list.do}"> 고객센터</a>  
          </li>
        </ul>
      </th:block>
    </div>
	</div>
	</div>
  
<div class="wrap">
<div class="header_menu">
    <div class="logo"><a th:href="@{/main.do}"><img th:src="@{../../image/한글로고.png}" width="250px"></a></div>
    <div>
		<li><i class="fas fa-xl fa-user mypage_event" id="mypage" style="cursor: pointer;"></i></li>
		<li><i id="btn-modal" class="fas fa-xl fa-bell mypage_event" style="cursor: pointer;"></i></li>
    </div>
</div>
</div>

    <div id="container"></div>
      <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="modal-title">
                <h2>알림</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                
            </div>
        </div>
    </div>
    
    <div id="modal2">새로운 알림이 있습니다.
	</div>

	<!--아이콘-->
	<script th:inline="javascript">
    const fnIconsClickEvent = () => {
        $(document).on('click', '.mypage_event', function(event) {
            let user = /*[[${session.user}]]*/ null;
            if (user === null) {
                if (confirm('로그인이 필요한 기능입니다. 로그인하시겠습니까?')) {
                    location.href = '/user/login.form';
                }

                event.preventDefault();
                return;
            }
        });
    };

	const fnMyPage = () => {
		$(document).on('click', '#mypage', function(event) {
            let user = /*[[${session.user}]]*/ null;
            if (user != null) {
				location.href = '/mypage/detail.do';
            }
            
               event.preventDefault();
                return;
        });
    };
    
    var email = /*[[${session.user != null ? session.user.email : ""}]]*/ "";
    var userNo = /*[[${session.user != null ? session.user.userNo : 0}]]*/ 0;
    const modal = document.getElementById("modal")
    const modal2 = document.getElementById("modal2")
	function modalOn() {
	    modal.style.display = "flex"
	}
	function modal2On() {
	    modal2.style.display = "flex"
	}
	function isModalOn() {
	    return modal.style.display === "flex"
	}
	function isModal2On() {
	    return modal2.style.display === "flex"
	}
	function modalOff() {
	    modal.style.display = "none"
	}
	function modal2Off() {
	    modal2.style.display = "none"
	}
	const btnModal = document.getElementById("btn-modal")
	btnModal.addEventListener("click", e => {
		if(userNo === 0){
		  e.preventDefault();
		  return;
		}
	    modalOn()
	    modal2Off()
	    $('.fa-bell').css('color', '');
	    
	    $.ajax({
		  type: 'post',
		  url: '/alarm/updateAlarm.do',
		  data: 'userNo=' + userNo,
		  dataType: 'json',
		  success: (resData) => {
			fnGetAlarmList();
		  }
		})
	})
	const closeBtn = modal.querySelector(".close-area")
	closeBtn.addEventListener("click", e => {
	    modalOff()
	})
	window.addEventListener("mousedown", e => {
	    const isOutsideModal = !modal.contains(e.target);
	    if (isOutsideModal && isModalOn()) {
	        modalOff();
	    }
	});
	window.addEventListener("keyup", e => {
	    if (isModalOn() && e.key === "Escape") {
	        modalOff();
	    }
	});
	
	const fnGetAlarmList = () => {
      $.ajax({
		type: 'get',
		url: '/alarm/getAlarmList.do',
		data: 'email=' + email,
		dataType: 'json',
		success: (resData) => {
	      $.each(resData, (i, alarm) => {
		    var createdAt = new Date(alarm.createdAt);
            var formattedCreatedAt = createdAt.toISOString().slice(0, 16).replace('T', ' ');
	        let str = '<div class="alarm">';
	        str += '<div>';
			if(alarm.status == 0){
			  str += '<i id="alarm" class="fas fa-bell" style="color: #ff0000;"></i>&nbsp';
			}
			str += alarm.alarmContents + '<br>';
			str += formattedCreatedAt;
			str += '</div>';
			str += '<hr>';
	        str += '</div>';
	        $('.content').append(str);
	      })
		}	
	  })
	}
	
	const fnAlarmCheck = () => {
	  $.ajax({
		type: 'get',
		url: '/alarm/alarmCheck.do',
		data: 'email=' + email,
		dataType: 'json',
		success: (resData) => {
		  if(resData > 0){
			$('.fa-bell').css('color', '#ff0000');
			modal2On();
		  }
		}
	  })
	}
	
	modalOn();
	isModalOn();
	modalOff();
    fnIconsClickEvent(); // 함수 호출
    fnMyPage();
    fnGetAlarmList();
    fnAlarmCheck();
</script>

    
    
	<div class="border">
   <div class="wrap">
	       <!--/* 메뉴들. */-->
		    <div class="gnb_wrap">
      <ul class="gnb">
        <li><a th:href="@{/auction/}">경매</a></li>
        <li>│</li>
        <li><a th:href="@{/draw/list.do}">그려드림</a></li>
        
      </ul>
	</div>
	   
	</div>
	   
   </div> 

    
    


    
  </div>
		
	</div>



 
  
</body>
</html>