<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('Home')}"></head>
<link rel="stylesheet" th:href="@{/css/main.css(ver=1.3)}" />

<style>
 
</style>


<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  <img th:src="@{/image/main_banner.png}" width="100%" height="50%">
  <div class="main_wrap">
      	
    <div class="wrap">
		
<div class="textline" style="margin-top:10%; display: flex; align-items: center;">
    <div style="margin-left: 10px;">
		 <div style="color:  rgb(84, 186, 125);">●</div>
        <div class="title" style="font-size: 140%; font-weight: 700; text-align: left; margin-bottom: 1%;">진행중인 경매</div>
        <div class="title" style="font-size: 60%; color: darkgray; text-align: left;">선착순! 먼저 사가는 사람이 승자! 경매를 즐겨보세요</div>	
    </div>
    	<div style="margin-left: auto;"><a th:href="@{/auction/}" style="color: gray;">전체경매보기    ></a></div>
	</div>
	
		<div class="wrap_9">
			
			<div id="auction_list" class="auction_list"></div>
		</div>
			
			
<div class="textline" style="margin-top:10%; display: flex; align-items: center;">
    <div style="margin-left: 10px;">
		 <div style="color:  rgb(84, 186, 125);">●</div>
        <div class="title" style="font-size: 140%; font-weight: 700; text-align: left; margin-bottom: 1%;">모두에게 그려드림!</div>
        <div class="title" style="font-size: 60%; color: darkgray; text-align: left;">개성있는 작가들에게 그림을 의뢰해보세요!</div>	
    </div>
    	<div style="margin-left: auto;"><a th:href="@{/draw/list.do}" style="color: gray;">전체그려드림보기    ></a></div>
	</div>
	
		<div class="wrap_9">
			
			<div id="draw_list" class="draw_list" style="margin-bottom: 10%;"></div>
		</div>
			
		</div>

			
			
			
		</div>

		
		
		
	</div>

  <script th:inline="javascript">
    
      // 전역 변수
      var page = 1;
      var totalPage = 0;
      
      
     
      const fnGetAuctionList = () => {
    $.ajax({
        type: 'get',
        url: '/auction/getList.do',
        data: {
            page: page
        },
        dataType: 'json',
        success: (resData) => {
            totalPage = resData.totalPage;
            
            // 최대 4개의 경매만 보여주기
            $.each(resData.auctionList.slice(0, 8), (i, auction) => {
                let str = '<div class="auction" data-auction_no="' + auction.auctionNo + '">';
                str += '<div class="auction_image"><img src="' + auction.image.path + '/s_' + auction.image.filesystemName + '"></div>';
                if(auction.status === 0){
                    str += '<div class="auction_ongoing">경매진행중</div>';
                } else {
                    str += '<div class="auction_end">경매종료</div>';
                }
                str += '<div class="auction_heart_div"><i class="' + auction.heartClass + ' fa-heart fa-xl auction_heart"></i></div>';
                str += '<div><span class="auction_category">' + auction.artDto.categoryDto.categoryName + '</span></div>';
                str += '<div><span class="auction_title">'    + auction.artDto.title                    + '</span></div>';
                str += '<div><span class="auction_nickname">' + auction.artDto.sellerDto.nickname       + '</span></div>';
                str += '<div class="auction_end_wrap">';
                str += '</div>';
                str += '</div>';
                $('#auction_list').append(str);
            });
        },
        error: (jqXHR, textStatus, errorThrown) => {
            console.error('경매 정보 없음:', textStatus, errorThrown);
        }
    });
}
      
       const fnHeart = () => {
        $(document).on('click', '.auction_heart', function(event) {
          event.stopPropagation();
          let user = /*[[${session.user}]]*/ null;
            if(user === null) {
              if(confirm('로그인이 필요한 기능입니다. 로그인하시겠습니까?')){
                location.href = '/user/login.form';
              }
              event.preventDefault();
              return;
            }
              $.ajax({
                  // 요청
                  type: 'get',
                  url: '/auction/controlAuctionWishlist.do',
                  data: {
                    auctionNo: $(this).closest('div .auction').data('auction_no')
                    },
                  // 응답
                  dataType: 'json',
                  success: (resData) => {
                    console.log(resData);
                     if(resData.hasAuctionWishlist === 0){
                        $(this).removeClass('fa-regular');  
                        $(this).addClass('fa-solid');
                        console.log('하트 채우기');
                        return;
                      }
                      $(this).removeClass('fa-solid');
                      $(this).addClass('fa-regular');
                      console.log('하트 비우기');
                    }
                  })
        })
      }
      
      const fnGetDrawList = () => {
	  $.ajax({
	    type: 'get',
	    url: '/draw/getList.do',
	    data: {
	      page: page
	    },
	    dataType: 'json',
	    success: (resData) => {
	      totalPage = resData.totalPage;
	      $.each(resData.drawList, (i, draw) => {
		    // 최대 표시 글자 수
			var maxTitleLength = 19; // 여기에 원하는 글자 수를 넣어주세요.
			// draw.title이 최대 표시 글자 수보다 길면 ...으로 줄이기
			var title = draw.title.length > maxTitleLength ? draw.title.substring(0, maxTitleLength) + "..." : draw.title;
	        let drawNo = draw.drawNo;
	        let str = '<div class="draw" data-draw_no="' + draw.drawNo + '">';
			str += '<div class="draw_image" data-draw_no="' + draw.drawNo + '"><img src="' + draw.image.path + '/s_' + draw.image.filesystemName + '"></div>';
	        
	        str += '<div class="wish_list"><i class="' + draw.heart + ' fa-heart fa-2xl heart" style="color: #ff0000;"></i></div>';
	        str += '<div><span class="draw_category"> ' + draw.categoryDto.categoryName + '</span></div>';
	        str += '<div><span class="draw_title"> ' + title + '</span></div>';
	        str += '<div><span class="draw_nickname"> ' + draw.userDto.nickname + '</span></div>';
	        str += '<div class="draw_end_wrap">';
	        str += '<div><span class="draw_price">가격</span><span class="draw_price2">' +  draw.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' P</span></div>';
	        str += '<div id="drawNo" style="display:none">글번호: ' + draw.drawNo + '</div>';
	        str += '</div>';
	        str += '</div>';
	        $('#draw_list').append(str);
	      })
	    }
	  })
	}
      
	const fnDrawDetail = () => {
	  $(document).on('click', '.draw_image', function(){
	    location.href = '/draw/detail.do?drawNo=' + $(this).data('draw_no');
	  })
	}
      
      
    const fnWishListControll = () => {
	  $(document).off('click', '.heart').on('click', '.heart', function() {
	    var self = $(this); // Wrap this in jQuery to ensure consistent behavior
	    $.ajax({
	      type: 'post',
	      url: '/draw/WishListControll.do',
	      data: {
	        drawNo: self.closest('.draw').data('draw_no')
	      },
	      dataType: 'json',
	      success: (resData) => {
	        if (resData.addWishResult == 1) {
	          self.removeClass('fa-regular');
	          self.addClass('fa-solid');
	        } else if (resData.removeWishResult == 1) {
	          self.removeClass('fa-solid');
	          self.addClass('fa-regular');
	        }
	      }
	    })
	  })
	}
      
      fnGetAuctionList();
      fnHeart();
      fnGetDrawList();
      fnDrawDetail();
      fnWishListControll();
      </script>
  
  
  
  
    
  </div>
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>