<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::head('출품작품목록')}"></head>
<link rel="stylesheet" th:href="@{/css/auctionList.css(ver=1.0)}" />
 
<style>
  .bid {
  background-color: rgb(84, 186, 125);
  color: white;
}
</style> 

<body>
  
  <div th:replace="~{/layout/header::header}"></div>
  <div th:replace="~{/mypage/menu::side-menu}"></div>
  
  <div class="right_wrap">
    <h3>경매 이용 내역</h3>
    
    <div class="list_wrap">
      <ul class="mypage_list">
        <li><a th:href="@{/mypage/getAuctionBidList.do}" class="bid">입찰작품</a></li>
        <li><a th:href="@{/mypage/getAuctionSalesList.do}" class="sales">출품작품</a></li>
      </ul>
    </div>
    
    <div class="table-responsive" id="bidList_wrap">
      <table class="table align-middle">
        <thead>
          <tr>
            <td>작품이미지</td>
            <td>작품정보</td>
            <td>입찰일</td>
            <td>내입찰가</td>
            <td>현재입찰가</td>
            <td>진행상태</td>
            <td>낙찰상태</td>
            <td>경매종료일</td>
          </tr>
        </thead>
        <tbody class="bidList">
          <th:block th:each="b,vs:${bidList}">
            <tr class="auction" th:onClick="|location.href='@{/auction2/detail.do(auctionNo=${b.auctionDto.auctionNo})}'|" style="cursor:pointer;">
              <th:block th:if="${b.auctionDto.image.path == null}">
                <td><i class="fa-regular fa-image"></i></td>
              </th:block>
              <th:block th:if="${b.auctionDto.image.path != null}">
                <t d class="auction_image"><img th:src="|${b.auctionDto.image.path}/s_${b.auctionDto.image.filesystemName}|" class="image" alt="썸네일" width="120px" height="100px"></td>                
              </th>
              <td class="auction_title" th:text="${b.auctionDto.artDto.title}"></td>
              <td class="auction_date" th:text="${b.bidAt}"></td>
              <td class="auction_price" th:text="${b.bidderDto.myPrice}"></td>
              <td class="auction_price" th:text="${b.price}"></td>
              <th:block th:if="${b.auctionDto.status == 0}">
                <td class="auction_status" th:text="진행"></td>
                <th:block th:if="${b.price > b.bidderDto.myPrice}">
                  <td class="auction_status" th:text="재입찰요망"></td>
                </th:block>
                <th:block th:if="${b.price <= b.bidderDto.myPrice}">
                  <td class="auction_status" th:text="최고가입찰중"></td>
                </th:block>
              </th:block>
              <th:block th:if="${b.auctionDto.status == 1}">
                <td class="auction_status" th:text="종료"></td>
                <th:block th:if="${b.price > b.bidderDto.myPrice}">
                  <td class="auction_status" th:text="낙찰실패"></td>
                </th:block>
                <th:block th:if="${b.price <= b.bidderDto.myPrice}">
                  <td class="auction_status" th:text="낙찰성공"></td>
                </th:block>
              </th:block>
              <td class="auction_date" th:text="${b.auctionDto.endAt}"></td>
            </tr>
          </th:block>
        </tbody>
        <tfoot th:if="${not #lists.isEmpty(bidList)}">
          <tr>
            <td colspans="5" th:utext="${paging}"></td>
          </tr>
        </tfoot>
      </table>
      
    </div>
  
  </div>
  
  
  <div th:replace="~{/layout/footer::footer}"></div>
  
</body>
</html>