@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333333;
}


body {
  width: 1600px;
  margin: 0;
}


body, div, ul, li, ol {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: #333333;
}
i {
  color: #333333;
}
a:hover {
  color: crimson;
}
a:hover i {
  color: crimson;
}
ul, ol {
  list-style-type: none;
}