@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.my_wrap {
  float: left;
  margin-bottom: 100px;
}
.my_profile {
  margin-top: 40px;
  border: 1px solid gray;
  width: 200px;
  height: 300px;
}
.my_menu {
  border: 1px solid gray;
  width: 200px;
  height: 360px;
}
.my_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 290px;
}

.my_menu li a {
  text-decoration: none;
  padding: 10px 10px 10px;
  display: block;
  color: #000;
  font-weight: bold;
  height: 45px;
}

.my_menu li a:hover {
  background: rgb(84, 186, 125);
  color: #fff;
}

.my_menu li a:active {
  color: rgb(84, 186, 125);
}
.my_menu_text {
  text-align: center;
  border: 1px solid gray;
  height: 45px;
  line-height: 45px;
}
.right_wrap {
  float: left;
  width: 1000px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.footer_wrap {
  clear: both;
}
