@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
  
.list_wrap {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mypage_list {
  display: flex;
  justify-content: space-between;
  flex: 4;
}
.mypage_list li {
  width: 100%;
}
.mypage_list a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
}

.mypage_list a:hover {
  background-color: rgb(84, 186, 125);
  color: white;
}


/* 이미지 */
.auction_image:hover img {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}
.image {
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.auction_image {
  width: 120px;
  height: 100px;
}
/* 컬럼명 가운데 정렬 */
.column_name {
  text-align: center;
}
.auction:hover {
-webkit-transform: scale(1.001);
transform: scale(1.001);
border: 2px solid darkgreen;
}

/* 열 별 크기 조정 */
.auction_title {
  font-weight: 700;
  width: 230px;
}
.auction_date {
  width: 110px;
  text-align: center;
}
.auction_price {
  width: 80px;
  text-align: center;
}
.auction_status {
  text-align: center;
}



/* paging */
.paging {
text-align: center;
padding: 8px 0;
}
.paging a {
  margin: 0 10px;
}
.paging .now_page {
  color: #198754;
  font-weight: 900;
}