<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/layout/header::head('아이디 찾기')}"></head>


<body>
	
	<div th:replace="~{/layout/header::header}"></div>
  
  	<div class="main_wrap">
	   <div class="wrap wrap_5">
		   <h2>회원님의 아이디(이메일)를 확인해주세요</h2>
		   <h4 style="margin-top: 20px" id="findIdResult"></h4>
		   
	   </div>
	</div>
	
	<script>
  $(() => {
	fnfindIdResult();
  })


  const fnfindIdResult = () => {
	if('${findId}' == ''){
      $('#findIdResult').text('조회결과가 없습니다');
      return;
	} else {
	  $('#findIdResult').text('${findId.email}');
	}
  }

</script>
	
	
	
	
	
</body>
</html>

    


<%@ include file="../layout/footer.jsp" %>