<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<head th:replace="~{/layout/header::head('아이디 찾기')}"></head>


<body>
	
	<div th:replace="~{/layout/header::header}"></div>
  
  	<div class="main_wrap">
	   <div class="wrap wrap_5">
		   <h2>회원님의 아이디(이메일)를 확인해주세요</h2>
		   <h4 style="margin-top: 20px" class="findIdResult"></h4>
		   
	   </div>
	</div>
	
<script th:inline="javascript">
	
	 $(() => {
			fnfindIdResult();
		  })
	
	
const fnfindIdResult = () => {
    var findIdValue = /*[[${findId.email}]]*/ null;

  
    if (findIdValues === null || findIdValues.length === 0) {
        $('.findIdResult').text('조회결과가 없습니다');
    } else if (findIdValues.length === 1) {
        // 하나의 이메일이 있는 경우
        $('.findIdResult').text('아이디(이메일): ' + findIdValues[0]);
    } else {
        // 여러 이메일이 있는 경우
        $('.findIdResult').text('여러 이메일이 있습니다: ' + findIdValues.join(', '));
    }
    
} 
	 
</script>
	
	
	<div th:replace="~{/layout/footer::footer}"></div>
	
	
</body>
</html>

    
