<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head(|${notice.noticeNo}번 게시글|)}"></head>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<style>

  
  
</style>

<body>
  
  <div th:replace="~{layout/header::header}"></div>
  
  <div class="main_wrap">

  <div class="wrap wrap_1">
    
    <h1 class="title">공지 상세</h1>

 <div>
    <h1 th:text="${notice.title}"></h1>
    <a>
    <input type="button" onClick="sendLinkCustom()" value="Custom"/>
    <input type="button" onClick="sendLinkDefault()" value="Default"/>
    </a>
    <div th:text="|작성자  : 관리자|"></div>
    <div th:text="|작성일  : ${#dates.format(notice.createdAt, 'yyyy-MM-dd HH:mm:ss')}|"></div>
    <div>
      <th:block th:if="${session.user.userNo == 1}">
        <form id="frm_btn" method="post">
          <input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
          <input type="hidden" name="title"    th:value="${notice.title}">
          <input type="hidden" name="contents" th:value='${notice.contents}'>
          <button type="button" id="btn_edit" class="btn btn-primary">편집</button>
          <button type="button" id="btn_rmv"  class="btn btn-danger">삭제</button>
          <button type="button" id="btn_list" class="btn btn-dark">목록</button>
          
        </form>
      </th:block>
    </div>
    <div th:utext="${notice.contents}"></div>
  </div>
  
  <script th:inline="javascript">
    
    var frmBtn = $('#frm_btn');
    
    const fnEditNotice = () => {
      $('#btn_edit').click(() => {
        frmBtn.attr('action', '/notice/edit.form');
        frmBtn.submit();
      })
    }
    
    const fnRemoveNotice = () => {
  		$('#btn_rmv').click(() => {
  			if(confirm('삭제할까요?')){
  				alert('삭제되었습니다.');
    			frmBtn.attr('action', '/notice/remove.do');
    			frmBtn.submit();
  			}
  		})	
  	}
  	
    const fnNoticeList = () => {
      $('#btn_list').click(() => {
        window.location.href = '/notice/list.do';
      });
    }
    
     function sendLinkCustom() {
        Kakao.init("53f0834692966b3b55a0b3d2f38afdda");
        Kakao.Link.sendCustom({
            templateId: [1009468]
        });
    }
    
    try {
      function sendLinkDefault() {
        Kakao.init('53f0834692966b3b55a0b3d2f38afdda')
        Kakao.Link.sendDefault({
          objectType: "feed",
          content: {
            title: "들어옥션",
            description: "들어옥션 " + '[[${notice.title}]]' + "의 공지사항 링크", // 보여질 설명
            imageUrl:
              'http://k.kakaocdn.net/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
            link: {
              mobileWebUrl: "http://localhost:8080/notice/detail.do?noticeNo=" +  noticeNo,
              webUrl: "http://localhost:8080/notice/detail.do?noticeNo=" +  noticeNo,
            },
          },
          social: {
            likeCount: 286,
            commentCount: 45,
            sharedCount: 845,
          },
          buttons: [
            {
              title: '웹으로 보기',
              link: {
                mobileWebUrl: "http://localhost:8080/notice/detail.do?noticeNo=" +  noticeNo,
                webUrl: "http://localhost:8080/notice/detail.do?noticeNo=" +  noticeNo,
              },
            },
            {
              title: '앱으로 보기',
              link: {
                mobileWebUrl: "http://localhost:8080/notice/detail.do?noticeNo=" +  noticeNo,
                webUrl: "http://localhost:8080/notice/detail.do?noticeNo=" +  noticeNo,
              },
            },
          ],
        })
      }
      ; window.kakaoDemoCallback && window.kakaoDemoCallback() }
      catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }
  </script>
  	
    fnEditNotice();
    fnRemoveNotice();
    fnNoticeList();
    
  </script>
  
 </div>
  
<div th:replace="~{layout/footer::footer}"></div>
  
</body>
</html>