<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

    <div class="main_wrap">

        <div class="wrap wrap_3">
          
            <h2>경매 관리</h2>
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>글번호</th>
                        <th>글제목</th>
                        <th>시작가</th>
                        <th>현재입찰가</th>
                        <th>즉시구매가</th>
                        <th>마감일</th>
                    </tr>
                </thead>

                <tbody>
                  <th:block th:each="a,vx:${adminAucList}">
                    
                    <tr>
                        <td th:text="${a.auctionNo}"></td>
                        <td th:text="${a.artDto.title}"></td>
                        <td th:text="${a.startPrice}"></td>
                        <td th:text="${a.price}"></td>
                        <td th:text="${a.buyPrice}"></td>
                        <td th:text="${a.endAt}"></td>
   
                         <td>
                            <form class="frm_btn">
                              <input type="hidden" id="auctionNo" name="auctionNo" th:value="${a.auctionNo}">
                              <button type="button" id="btn_remove" class="delete_btn">삭제</button>
                            </form>
                        </td> 

                    </tr>
                  </th:block>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" th:utext="${paging}"></td>
                    </tr>
                </tfoot>
            </table>

            <div id="auction_list" class="auction_list"></div>
        
       <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
       <script th:inline="javascript">
              
        var frmBtn = $('.frm_btn');
        
        const fnRemove = () => {
          $('.delete_btn').click(() => {
            if(confirm('해당 게시글을 삭제할까요?')){
              frmBtn.attr('action', '/admin/removeAdminAuc.do');
              frmBtn.attr('method', 'post');
              frmBtn.submit();
            }
          })
        }
              
        fnRemove();

       </script>

        </div>
    </div>

</body>

</html>
