<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

    <div class="main_wrap">

        <div class="wrap wrap_3">
          
        <div class="text-center">
        <div class="search">
          <form id="search_frm">
            <select class="form-select" name="auctionType" id="auctionType">
              <option value="all" selected>전체</option>
              <option value="A.TITLE">제목</option>
              <option value="A.CONTENTS">내용</option>
              <option value="U.NICKNAME">작가명</option>
            </select>
            <select class="form-select" name="categoryNo" id="categoryNo">
              <option value="404">카테고리</option>  
              <option value="1">포토그래픽</option>  
              <option value="2">원화</option>  
              <option value="3">드로잉</option>  
              <option value="4">판화</option>  
              <option value="5">서예</option>  
              <option value="6">회화</option>  
              <option value="7">동양화</option>  
              <option value="8">공예</option>  
              <option value="9">디지털아트</option>  
              <option value="10">조각품</option>  
              <option value="11">기타</option>  
            </select>
            <select class="form-select" name="status" id="status">
              <option value="404">상태</option>  
              <option value="0">진행중</option>  
              <option value="1">낙찰</option>  
              <option value="-1">유찰</option>  
            </select>
            <input type="text" name="searchWord" id="searchWord" class="searchWord input-group-text" placeholder="작가/작품명 검색">
            <button type="button" id="btn_search" class="btn_search"><i class="fa-solid fa-magnifying-glass search_icon" style="color: #1937cc;"></i></button>
          </form>
        </div>

            <h2>경매 관리</h2>
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>글번호</th>
                        <th>글제목</th>
                        <th>시작가</th>
                        <th>현재입찰가</th>
                        <th>즉시구매가</th>
                        <th>마감일</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="a,vx:${adminAucList}">
                        <td th:text="${a.auctionNo}"></td>
                        <td th:text="${a.artDto.title}"></td>
                        <td th:text="${a.startPrice}"></td>
                        <td th:text="${a.price}"></td>
                        <td th:text="${a.buyPrice}"></td>
                        <td th:text="${a.endAt}"></td>
   
                         <td>
                            <form id="frm_btn" method="post">
                              <input type="hidden" id="auctionNo" name="auctionNo" th:value="${a.auctionNo}">
                              <button type="button" id="btn_remove" class="delete_btn">삭제</button>
                            </form>
                        </td> 

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" th:utext="${paging}"></td>
                    </tr>
                </tfoot>
            </table>

            <div id="auction_list" class="auction_list"></div>
        
       <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
       <script th:inline="javascript">
              
        var frmBtn = $('#frm_btn');
        
        const fnRemove = () => {
          $('.delete_btn').click(() => {
            if(confirm('해당 게시글을 삭제할까요?')){
              frmBtn.attr('action', '/auction2/removeAuction.do');
              frmBtn.attr('method', 'post');
              frmBtn.submit();
            }
          })
        }
              
        fnRemove();

       </script>

        </div>
    </div>

</body>

</html>
