<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/admin/menu::head('홈')}"></head>


<body>
	
    <div th:replace="~{/admin/menu::menu}"></div>


	<div class="wrap">

      
 <table border="1" class="table">
        <thead>
            <tr>
                <td>글번호</td>
                <td>이름</td>
                <td>성별</td>
                <td>휴대폰번호</td>
                <td>닉네임</td>
                <td>가입일</td>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="u,vx:${userList}">					
                <tr>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.gender}"></td>
                    <td th:text="${u.mobile}"></td>
                    <td th:text="${u.nickname}"></td>
                    <td th:text="${u.joinedAt}"></td>
                    <td>
				        <form id="frm_btn" method="post">
							<input type="hidden" id="userNo" name="userNo" th:value="${u.userNo}">
							<input type="hidden" id="email" name="email" th:value="${u.email}">
							<input type="hidden" id="name" name="name" th:value="${u.name}">
				          	<button type="button" id="btn_remove"  class="btn btn-danger">삭제</button>
				        </form>		
					</td>
                </tr>
            </th:block>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" th:utext="${paging}"></td>
            </tr>
        </tfoot>
    </table>

		
	</div>
 <!-- 스크립트 부분 -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
    const frmBtn = $('#frm_btn');
    const userTableBody = $('#userTableBody');

    const fnRemoveAdmin = () => {
        $('#btn_remove').click(() => {
            if (confirm('삭제할까요?')) {
                alert('삭제되었습니다.');
                frmBtn.attr('action', '/admin/removeUser.do');
                frmBtn.submit();
            }
        });
    }

    fnRemoveAdmin();

    $('#btn_search').click(() => {
        const searchForm = $('#searchForm');
        const formData = searchForm.serialize();

        $.ajax({
            type: 'GET',
            url: searchForm.attr('action'),
            data: formData,
            dataType: 'json', // 반환되는 데이터 타입을 JSON으로 지정
            success: function (data) {
                // 검색 결과를 동적으로 추가
                userTableBody.empty();
                $.each(data, function (index, user) {
                    userTableBody.append(`
                        <tr>
                            <td th:text="${user.email}"></td>
                            <td>${user.name}</td>
                            <td>${user.gender}</td>
                            <td>${user.mobile}</td>
                            <td>${user.nickname}</td>
                            <td>${user.joinedAt}</td>
                            <td>
                                <form id="frm_btn" method="post">
                                    <input type="hidden" id="userNo" name="userNo" value="${user.userNo}">
                                    <input type="hidden" id="email" name="email" value="${user.email}">
                                    <input type="hidden" id="name" name="name" value="${user.name}">
                                    <button type="button" id="btn_remove" class="btn btn-danger">삭제</button>
                                </form>
                            </td>
                        </tr>
                    `);
                });
            },
            error: function (error) {
                console.error('검색 실패:', error);
            }
        });
    });
</script>

	

</body>

</html>