<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/menu::head('홈')}"></head>


<body>
	
    <div th:replace="~{admin/menu::menu}"></div>


	<div style="margin-left: 20%; margin-top: 5%;">

<h4 style=" margin-bottom: 2%; font-weight: 700;">사용자관리</h4>
      
 <table border="1" class="table">
        <thead>
            <tr>
                <td>글번호</td>
                <td>이름</td>
                <td>성별</td>
                <td>휴대폰번호</td>
                <td>닉네임</td>
                <td>가입일</td>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="u,vx:${userList}">					
               
               <th:block th:if="${u.email == null}">
				   <td>정보없다</td>
			   </th:block>
               <th:block th:if="${u.email != null}">
				   <tr>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.gender}"></td>
                    <td th:text="${u.mobile}"></td>
                    <td th:text="${u.nickname}"></td>
                    <td th:text="${u.joinedAt}"></td>
                    <td>
				        <form id="frm_btn" method="post">
							<input type="hidden" id="userNo" name="userNo" th:value="${u.userNo}">
							<input type="hidden" id="email" name="email" th:value="${u.email}">
							<input type="hidden" id="name" name="name" th:value="${u.name}">
				          	<button type="button" id="btn_remove"  class="btn btn-danger">삭제</button>
				        </form>		
					</td>					   
				   </tr>
			   </th:block>   
				   

            </th:block>
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" th:utext="${paging}"></td>
            </tr>
        </tfoot>
    </table>

		
	</div>
		   <script th:inline="javascript">
	   
				    var frmBtn = $('#frm_btn');
			    
			    const fnRemoveAdmin = () => {
			  		$('#btn_remove').click(() => {
			  			if(confirm('삭제할까요?')){
			  				alert('삭제되었습니다.');
			    			frmBtn.attr('action', '/admin/removeUser.do');
			    			frmBtn.submit();
			  			}
			  		})	
			  	}
			  	
			fnRemoveAdmin();
      
      </script>
	

</body>

</html>
